@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::selection {
        @apply bg-secondary-700 text-primary-100;
    }
    h1 {
        @apply text-3xl font-bold md:text-4xl;
    }

    h2 {
        @apply text-2xl font-bold  md:text-3xl;
    }

    h3 {
        @apply text-xl font-bold text-theme-100 md:text-2xl;
    }

    h4 {
        @apply text-lg font-bold text-theme-100 md:text-xl;
    }
    h5 {
        @apply font-bold text-theme-100 md:text-lg;
    }

    .text-gradient {
        @apply bg-clip-text text-transparent;
    }

    body {
        @apply antialiased bg-theme-900 text-theme-200;
    }

    :is(a, button) {
        @apply outline-none;
    }

    :is(a, button) {
        @apply outline-none  ring-offset-1
    transition-all focus-visible:ring ring-primary-400 ring-offset-theme-900;
    }

    .accessible {
        @apply transition-all duration-150 hover:ring ring-theme-600;
    }
    .content-auto {
        content-visibility: auto;
    }

    img {
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
    }

    .social-icon {
        @apply size-6  transition duration-300  fill-primary-400 hover:fill-secondary-500;
    }
}

.print-force-new-page {
    page-break-before: always;
}
