---
import { cn } from '@/libs/utils';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<p class={cn('text-muted-foreground text-lg leading-relaxed md:text-xl', className)}>
  <slot />
</p>

