---
import { cn } from '@/libs/utils';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<h1 class={cn('text-5xl font-medium tracking-tight md:text-6xl', className)}>
  <slot />
</h1>

