---
import { cn } from '@/libs/utils';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  class={cn(
    'divide-border/60 divide-y [&>*]:py-6 [&>*:first-child]:pt-0 [&>*:last-child]:pb-0',
    className,
  )}
>
  <slot />
</div>
