---
import { cn } from '@/libs/utils';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<section class={cn('max-w-3xl space-y-8', className)}>
  <slot />
</section>

