---
import BaseLayout from './BaseLayout.astro';
import Navbar from '@/components/Navbar.astro';
import Model3DViewer from '@/components/Model3DViewer.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div class="relative flex min-h-screen flex-col">
    <div transition:persist="3d-model">
      <Model3DViewer 
        modelUrl="/models/logo.glb" 
        height="100vh"
        enableGlare
      />
    </div>

    <Navbar class="relative z-50" />
    <main class="relative z-10 flex-1">
      <slot />
    </main>
  </div>
</BaseLayout>
