---
import { cn } from '@/libs/utils';

interface Props {
  href: string;
  target?: string;
  rel?: string;
  class?: string;
}

const {
  href,
  target,
  rel,
  class: className,
} = Astro.props;
---

<a
  href={href}
  target={target}
  rel={rel}
  class={cn(
    'text-muted-foreground hover:text-foreground inline-flex items-center gap-2 transition-colors',
    className,
  )}
>
  <slot />
</a>
