---
import { cn } from '@/libs/utils';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<h2 class={cn('text-foreground/70 text-xs font-semibold tracking-widest uppercase', className)}>
  <slot />
</h2>
